<!DOCTYPE html>
<html>
<head>
  <title>Will's Bookmark manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
</head>
<body>
  <header>Bookmark Manager</header>
  <section id="input">
    <form action="/" method="POST">
      Title:<input type="text" name="title" placeholder="Google">
      url:<input type="text" name="url" placeholder="https://www.google.com">
      Tags:<input type="text" name="tag" placeholder="search engine">
      <button type="submit">Add Bookmark</button>
    </form>
  </section>
  <section>
    <table>
      <tr><th>Website</th><th>Tags</th></tr>
      <tr><% @links.each do |link| %>
          <td>
            <a href="<%= link.url %>"><%= link.title %></a>
          </td>
          <td>    <% link.tags.each do |tag| %>

    
            <form action="/tags/<%= tag.name %>">
                <button type="submit"><%= tag.name %></button>
            </form>
            <% end %>
          </td> 
      </tr>
      <% end %>    
    </table>
  </section>

</body>
</html>

