<!DOCTYPE html>
<html>
<head>
  <title>Will's Bookmark manager</title>
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/reset.css">
</head>
<body>
  <header>Bookmark Manager</header>
</body>
</html>