<!DOCTYPE html>
<html>
<head>
  <title>Will's Bookmark manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
</head>
<body>
  <h1>Please sign up</h1>

  <form action="/users" method="post">
    Name: <input name="name" type="text">
    Email: <input name="email" type="text">
    Password: <input name="password" type="password">
    <input type="submit" value="Sign Up">
  </form>

</body>
</html>
